{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Гражданское право</h1>
    <h3>Судебные решения:</h3>
    <ul>
        <li><a href="{% url 'civil_law' %}" class="nav-link px-2">Гражданское право</a></li>
        <li><a href="{% url 'home' %}" class="nav-link px-2">Административное право</a></li>
        <li><a href="{% url 'home' %}" class="nav-link px-2">Лево</a></li>
        <li><a href="{% url 'home' %}" class="nav-link px-2">Пупупу</a></li>
    </ul>
    {% if court_decisions %}
        {% for cd in court_decisions %}
            <div class="alert alert-info mt-2">
                <h3>{{ cd.title }}</h3>
                <p>{{ cd.body }}</p>
                <p>{{ cd.decision }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>У нас нет вопросов!</p>
    {% endif %}
{% endblock %}
